doctype
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= locals.title ? title + " | " + site_title : site_title
        if current.path[0] === "index"
            meta(name='description', content=description)
        else
            if current.path[0] === "blog"
                meta(name='description', content=description)
        meta(name="google-site-verification" content="Vinlr0TWN4pYrfQZcYlwmFuj-ry5CMS_2sZhqs6O4SE")
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet", href="/css/zoom.css")
        //- link(rel="stylesheet", href="/css/flexgrid.css")



    body(class="#{ current.path[0] }")
        
        != partial("_shared/header")

        if current.path[0] === "index"
            != yield
        
        else
            if current.path[0] === "work"
                != partial("/work/_work")
            
            if current.path[0] === "approach"
                != yield
            
            if current.path[0] === "blog"
                != partial("/blog/_blog")
            
            else if ["404"].indexOf(current.path[0]) !== -1
                != yield

        != partial("_shared/footer")



        script(src="/js/jquery.js")
        script(src="/js/application.js")
        script(src="/js/jquery.unveil.js")
        script(src="/js/transition.js")
        script(src="/js/zoom.js")
        script(src="/js/modernizr.js")
        script(type='text/javascript').
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '#{ locals.analytics_account }']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
