main.Content(role="main")
    section.Section

        nav.MetaNav.MetaNav--top(role="navigation")
            a(href="/work") work #[span →]
            a(href="/blog") blog #[span →]
            
        h1.SectionTitle
            //- a(href="/work", style="width:100%") Recent work
            a(href="/work") Recently

        //- This is, somehow, to spit out both work & blog on the home page
        //- h2 a(href="#{ post.url ? post.url : '/blog/' + slug }")= title
        
        if current.source === "index"
            for article, slug in public.work._data
                if article.ispublished && article.ishome === true
                    if article.isfeatured === true
                        .Project-block.Project-block--lg
                            .Project
                                .FlexEmbed.OutsetBlock
                                    .FlexEmbed-ratio.FlexEmbed-ratio--2by1
                                    .FlexEmbed-content
                                        a.CoverImage.Project-pictureInteraction(href="../work/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
                                        //- .CoverImage(style="background-image: url(/img/thumb-lg-#{ slug }.jpg)")
                                .Grid.large-Grid--1of3.Grid--gutters
                                    .Grid-cell
                                        .Project-caption
                                            .Project-data
                                                time.Project-time= article.date
                                                span.Project-separator &nbsp;•&nbsp;
                                                span= article.tags
                                            .Project-description
                                                h4.Project-title #[a(href="../work/#{ slug }")= article.title]
                                                | .&nbsp;
                                                #[= article.description]

                    .Project-block.Project-block--sm.Grid.Grid--1of2.large-Grid--1of3.Grid--gutters
                        if article.isfeatured !== true
                            .Project.Grid-cell
                                .FlexEmbed
                                    .FlexEmbed-ratio.FlexEmbed-ratio--2by1
                                    .FlexEmbed-content
                                        a.CoverImage.Project-pictureInteraction(href="../work/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
                                .Project-caption
                                    .Project-data
                                        time.Project-time= article.date
                                        span.Project-separator &nbsp;•&nbsp;
                                        span= article.tags
                                    .Project-description
                                        h4.Project-title #[a(href="../work/#{ slug }")= article.title]
                                        | .&nbsp;
                                        #[= article.description]

        
        //- .Project-block.Project-block--lg
        //-     .Project
        //-         .FlexEmbed.OutsetBlock
        //-             .FlexEmbed-ratio.FlexEmbed-ratio--3by1
        //-             a.FlexEmbed-content(href="../work/bellflower")
        //-                 .CoverImage(style="background-image: url(/img/thumb-bellflower.jpg)")
        //-         //- a.Project-pictureContainer(href="../work/bellflower")
        //-             .Project-picture(style="background-image: url(/img/thumb-roundtable-records.jpg)")
        //-         .Grid.Grid--1of2.large-Grid--1of3.Grid--gutters
        //-             .Grid-cell
        //-                 .Project-caption
        //-                     .Project-data
        //-                         time.Project-time 2015
        //-                         span &nbsp;•&nbsp;
        //-                         | Website, identity
        //-                     h4.Project-title
        //-                         a(href="../work/bellflower") Bellflower Chinese Medicine. 
        //-                         span A legible, performant, mobile-first marketing blog.
