main.Content(role='content')
	if current.source === "index"
		for article, slug in public.blog._data
			if article.ispublished
				if article.isfeatured === true
					.Project-block.Project-block--lg
						.Project
							.FlexEmbed.Outset
								.FlexEmbed-ratio.FlexEmbed-ratio--2by1
								.FlexEmbed-content
									a.o-coverImage(href="../blog/#{ slug }", style="background-image: url(/img/hero-#{ slug }.jpg)")
							.Grid.large-Grid--1of3.Grid--gutters
								.Grid-cell
									.Project-caption
										.Project-data
											time.Project-time= article.date
										.Project-description
											h4.Project-title #[a(href="../blog/#{ slug }")= article.title]
											| .&nbsp;
											#[= article.description]
											a.Project-cta(href="../blog/#{ slug }") Read more

				.Project-block.Project-block--sm.Grid.large-Grid--1of3.Grid--gutters
					if article.isfeatured !== true
						.Project.Grid-cell
							.FlexEmbed
								.FlexEmbed-ratio.FlexEmbed-ratio--2by1
								.FlexEmbed-content
									a.o-coverImage(href="../blog/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
							.Project-caption
								.Project-data
									time.Project-time= article.date
								.Project-description
									h4.Project-title #[a(href="../blog/#{ slug }")= article.title]
									| .&nbsp;
									#[= article.description]
									a.Project-cta(href="../blog/#{ slug }") Read more

	else
		for article, slug in public.blog._data
			if article.hero === true
				.FlexEmbed.Outset
					.FlexEmbed-ratio.FlexEmbed-ratio--2by1
					.FlexEmbed-content
						.o-coverImage(style="background-image: url(/img/hero-#{ slug }.jpg)")

		article.Article
			.o-container
				h1.Article-title= title
				.Article-data
					time.Article-time= date

				!= yield

				!= partial("../_shared/article-footer")
				//- != partial("../_shared/newsletter-signup")
