header.Header(role="banner")
	.Block
		.Nav-wrapper
			.o-aligner
				.o-aligner-item
					.o-container
						.Column--text
							!= partial("../_shared/nav-toggle")
		.o-aligner
			.o-aligner-item
				.o-container
					.Column--text.u-marginB3
						h1.Display--su The Work headline is a phrase over two lines.
		
		
main.Content(role="main")
	.Grid
		if current.source === "index"
			for article, slug in public.posts._data
				if article.ispublished === true
					if article.category === "project"
						.Grid-cell.Block--height2of3
							a.Post(class=typeof article.indexstyle === "true" ? undefined : "Post--#{article.indexstyle}", href="/work/#{slug}")
								.Post-coverImage.o-containImage(style="background-image: url('/assets/images/post-hero-#{slug}.png')")
								.o-aligner
									.o-aligner-item
										.o-container
											.Column--post
												h1.Display= article.title
												p.Text--meta= article.tags
												//- p= article.description
