doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= locals.title ? title + " | " + site_title : site_title
		if current.path[0] === "index"
			meta(name='description', content=site_description)
		else
			if current.path[0] === "blog"
				meta(name='description', content=site_description)
		link(rel="stylesheet" href="/assets/stylesheets/application.css")
		link(rel="stylesheet", href="/assets/stylesheets/owl.carousel.css")

	body(class="#{ current.path[0] } NavSpace")
		
		//- != partial("_shared/nav-bar")
		
		//- if current.path[0] !== "index"
			//- != partial("_shared/header")

		if current.path[0] === "index"
			!= yield
		
		if current.path[0] === "about"
			!= yield
		
		if current.path[0] === "work"
			//- != partial("/work/_work")
			!= partial("/posts/_work")
		
		if current.path[0] === "blog"
			!= partial("/posts/_blog")
		
		if current.path[0] === "dataprint"
			!= yield
		
		else if ["404"].indexOf(current.path[0]) !== -1
			!= yield

		!= partial("_shared/nav")
		!= partial("_shared/nav-modal")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		//- script(src="/assets/javascripts/lib.owl.carousel.min.js")
		script(src="/assets/javascripts/application.js")
		script(src="/node_modules/viewport-units-buggyfill/viewport-units-buggyfill.hacks.js")
		script(src="/node_modules/viewport-units-buggyfill/viewport-units-buggyfill.js")
		script(type='text/javascript').
			window.viewportUnitsBuggyfill.init({
				refreshDebounceWait: 50,
				hacks: window.viewportUnitsBuggyfillHacks
			});
		//- script(type='text/javascript').
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '#{ locals.analytics_account }']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
