!= partial("_shared/header")
		
main.Content(role="main")
	.Grid
		for article, slug in public.posts._data
			if article.ishome === true
				if article.category === "journal"
					.Grid-cell.Block--height2of3
						a.Post.Post--inverse(href="/blog/#{slug}")
							.Post-coverImage.o-coverImage--dark(style="background-image: url('assets/images/post-hero-#{slug}.jpg')")
							.o-aligner
								.o-aligner-item
									.o-container
										.Column--post
											h1.Display= article.title
											p= article.description
											//- p.Text--meta= article.date
				else
					.Grid-cell.Block--height2of3
						a.Post(class=typeof article.indexstyle === "true" ? undefined : "Post--#{article.indexstyle}", href="/work/#{slug}")
							.Post-coverImage.o-containImage(style="background-image: url('assets/images/post-hero-#{slug}.png')")
							.o-aligner
								.o-aligner-item
									.o-container
										.Column--post
											h1.Display= article.title
											p= article.description
