- var assetPath = "/assets/images/"

!= partial("_shared/header")
		
section.Content--bottomPadding.Content--animateIn
	.Grid.Grid--withGutterLg
		for post, slug in public.work._data
			if post.ishome === true
				.Grid-cell.u-sm-size1of2.u-md-size1of3
					a.Post--inList(href="/#{post.category}/#{slug}")
						.Post-aligner
							figure.Post-image
								img(src="#{assetPath}thumb-#{slug}.png", alt="#{slug}")
							h1.Headline--sm= post.title
							.Post-meta
								span.Post-tag= post.tags
