- var assetPath = "/assets/images/"
- var currentProject = current.path[1]

if current.source === "index"
	section.Content.Content--animateIn
		.Grid.Grid--withGutterLg
			for post, slug in public.work._data
				if post.ispublished === true
					if post.category === current.path[0]
						.Grid-cell.u-sm-size1of2.u-xl-size1of3
							a.Post--inList(href="/#{post.category}/#{slug}")
								.Post-aligner
									figure.Post-image
										img(src="#{assetPath}thumb-#{slug}.png", alt="#{slug}")
									h1.Headline--sm= post.title
									.Post-meta
										span.Post-tag= post.tags

else
	header.Header(role="banner")
		.Block--space.Header--animateIn
			.Block--masthead
				h1.Headline
					em= title
					span= intro
		.Block.Hero--animateIn
			figure
				img(src="#{assetPath}#{currentProject}-hero.jpg", alt="")

	section.Content--post
		!= yield
