main.Content(role='content')
    if current.source === "index"
        .Project-block.Project-block--lg.Grid.Grid--1of2.Grid--gutters
            for article, slug in public.work._data
                if article.ispublished 
                    if article.isfeatured === true
                    
                        .Project.Grid-cell
                            .FlexEmbed
                                .FlexEmbed-ratio.FlexEmbed-ratio--2by1
                                .FlexEmbed-content
                                    a.CoverImage(href="../work/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
                                    //- .CoverImage(style="background-image: url(/img/thumb-lg-#{ slug }.jpg)")
                            .o-container
                                a.Project-caption(href="../work/#{ slug }")
                                    #[= article.description]
                                    .Project-data
                                        time.Project-time= article.date
                                        span.Project-separator &nbsp;•&nbsp;
                                        span= article.tags

                //- .Project-block.Project-block--sm.Grid.Grid--1of2.large-Grid--1of3.Grid--gutters
                //-     if article.isfeatured !== true
                //-         .Project.Grid-cell
                //-             .FlexEmbed
                //-                 .FlexEmbed-ratio.FlexEmbed-ratio--2by1
                //-                 .FlexEmbed-content
                //-                     a.CoverImage(href="../work/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
                //-             a.Project-caption(href="../work/#{ slug }")
                //-                 #[= article.description]
                //-                 .Project-data
                //-                     time.Project-time= article.date
                //-                     span.Project-separator &nbsp;•&nbsp;
                //-                     span= article.tags

    else
        article.Article
            .o-container
                != partial("../_shared/article-header")

                != yield
                    
                != partial("../_shared/article-footer")
