- var assetPath = "/assets/images/";
- var projectPath = "/assets/images/thesubstation";

.Block--narrow.Block--betweenT.s-Block
	p We began working with The Substation by rebuilding their website platform for efficiency and flexibility so they could spend more time building their vision instead of being stuck in technology. 
	p As we progressed, were able to understand their vision and evolve their digital branding to match, so that their current audience and new audiences can engage intimately with new Australian art. 

.Block--mid.Block--between
	img(src="#{projectPath}-artists.png", alt="")

//- .Block--mid.Block--between
//- 	.FlexEmbed.Frame
//- 		.FlexEmbed-ratio.FlexEmbed-ratio--laptop
//- 		.FlexEmbed-content
//- 			video.Screen(autoplay="", loop="")
//- 				source(src='#{projectPath}-video-tour.mp4', type='video/mp4')
//- 				| Your browser does not support the video tag. Please upgrade your browser.

//- .Block--mid.Block--between
//- 	img(src="#{projectPath}-event-example.png", alt="")
	
.Block--narrow.Block--betweenT.s-Block
	p We targeted mobile performance in the upgrade because we wanted to fulfil the needs of real customers. For example, a person travelling home from work by tram should, upon receiving a friend's show invite, be able to buy a ticket right away, on 2 bars of 3G in the suburbs. To do this, the website performance was audited and a checklist of improvements made. 

.Block--video
	.FlexEmbed
		.FlexEmbed-ratio.FlexEmbed-ratio--iphone6
		.FlexEmbed-content
			video.Screen--iphone6(autoplay="", loop="")
				source(src='#{projectPath}-video-mobile.mp4', type='video/mp4')
				| Your browser does not support the video tag. Please upgrade your browser.
			.o-posAbsoluteCenter.o-coverImage(style="background-image: url('#{assetPath}device-iphone6-alt.png')")

.Block--narrow.Block--betweenT.s-Block
	p Redesigning the user experience, we prioritised events—The Substation's reason for being. Event details and the 'buy' button were brought to the forefront. Obvious navigation and event grids were designed to help people find events without effort.
	p Our visual design rework focussed on giving The Substation's brilliant, eclectic photography centre stage, framed by whitespace and clean typography. In the original website design, the photography was placed within the bounds of the text column. We exploded this grid system, so that images, gifs and video would immerse people in the electric world of The Substation. 
	//- p Our intial remit was bug fixes yet after understanding their issues, we proposed a change of website platform to stem the constant maintenance costs draining their digital marketing effectiveness. In the process, it became easy to improve the site's content structure, usability and performance without a big time spend. In time, we also redesigned the visual brand.

.Block--between(style="background-color: #f4f3f2;")
	img(src="#{projectPath}-visual-design.png", alt="")

//- .Block--mid.Block--between
//- 	.FlexEmbed.Frame
//- 		.FlexEmbed-ratio(style="padding-bottom:80%")
//- 		.FlexEmbed-content
//- 			#container1.twentytwenty-container
//- 				img(src="#{projectPath}-after.png", alt="")
//- 				img(src="#{projectPath}-before.png", alt="")

.Block--narrow.s-Block
	p In case you're wondering, we used Jekyll instead of Wordpress. By using a static site generator, we avoided database insecurities, third-party plugin maintenance and performance speed woes. And by using Siteleaf as a Content Management System, we can create a custom CMS interface using the power of Jekyll's metadata, giving The Substation full and flexible website content access, with no more plugins hell.
	
.Block--mid.Block--between
	.FlexEmbed.Frame
		.FlexEmbed-ratio.FlexEmbed-ratio--laptop
		.FlexEmbed-content
			video.Screen(autoplay="", loop="")
				source(src='#{projectPath}-video-tour.mp4', type='video/mp4')
				| Your browser does not support the video tag. Please upgrade your browser.

//- .Block--narrow.s-Block
//- 	p Previously, when an event was completed, it was 'unpublished' from the website. We recognised the value of this history and instead proposed recategorising completed events under an 'archive' page. They're now always online and accessible, they're just not available as a menu item. So now The Substation can access and make use of their event history at any time. 

//- .Block--narrow.Block--between
//- 	.FlexEmbed.Frame
//- 		.FlexEmbed-ratio.FlexEmbed-ratio--ipad
//- 		.FlexEmbed-content
//- 			video.Screen(autoplay="", loop="")
//- 				source(src='#{projectPath}-video-archive.mp4', type='video/mp4')
//- 				| Your browser does not support the video tag. Please upgrade your browser.			

.Block--narrow.s-Block
	p The new website platform and branding is allowing The Substation to revitalise their digital marketing. By improving CMS access and efficiency, using a flexible development workflow and reducing website maintenance costs, they have control over their website so they can spend more time implementing their vision.

	blockquote "Patternworks showed us a vision of our business that surpassed ours. More than that, they've made it a reality—the project execution has been just plain fun to be part of. We're very happy with the results, and it's very quickly raised our awareness two-fold." — LeaAnne Cassaniti, OceanBlue Living

	p Visit #[a(href="http://www.thesubstation.org.au/") The Substation].
	
	.Block--between
		.Grid
			.Grid-cell.u-sm-size5of12
				ul.List--meta
					li.List--meta-title Plan
					li Brand strategy
					li Website platform strategy
					li.List--meta-title Design
					li Information architecture
					li User experience design
					li Creative direction
					li Visual design
			.Grid-cell.u-sm-size5of12
				ul.List--meta
					li.List--meta-title Build
					li Frontend development
					li Content management system
					li.List--meta-title Technology
					li Jekyll
					li Siteleaf

//- a.Block--halfSpace(href="/work/oceanblue-living")
//- 	.Block--masthead
//- 		h1.Headline Oceanblue Living →
