main.Content(role='content')
    if current.source === "index"
        for article, slug in public.work._data
            if article.ispublished 
                if article.isfeatured === true
                    .Project-block.Project-block--lg
                        .Project
                            .FlexEmbed.OutsetBlock
                                .FlexEmbed-ratio.FlexEmbed-ratio--2by1
                                .FlexEmbed-content
                                    a.CoverImage(href="../work/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
                                    //- .CoverImage(style="background-image: url(/img/thumb-lg-#{ slug }.jpg)")
                            .Grid.large-Grid--1of3.Grid--gutters
                                .Grid-cell
                                    .Project-caption
                                        .Project-data
                                            time.Project-time= article.date
                                            span.Project-separator &nbsp;•&nbsp;
                                            span= article.tags
                                        .Project-description
                                            h4.Project-title #[a(href="../work/#{ slug }")= article.title]
                                            | .&nbsp;
                                            #[= article.description]

                .Project-block.Project-block--sm.Grid.Grid--1of2.large-Grid--1of3.Grid--gutters
                    if article.isfeatured !== true
                        .Project.Grid-cell
                            .FlexEmbed
                                .FlexEmbed-ratio.FlexEmbed-ratio--2by1
                                .FlexEmbed-content
                                    a.CoverImage(href="../work/#{ slug }", style="background-image: url(/img/thumb-#{ slug }.jpg)")
                            .Project-caption
                                .Project-data
                                    time.Project-time= article.date
                                    span.Project-separator &nbsp;•&nbsp;
                                    span= article.tags
                                .Project-description
                                    h4.Project-title #[a(href="../work/#{ slug }")= article.title]
                                    | .&nbsp;
                                    #[= article.description]


    else
        article.Article
            .Container
                h1.Article-title= title
                .Article-data
                    time.Article-time= date
                    span &nbsp;•&nbsp;
                    #[= tags]

                != yield
                    
                != partial("../_shared/article-footer")
