h1.Title Through collaboration and feedback, I eliminate the unnecessary so that the necessary may speak.
h1.Title Because I can build what I design, I know how things work, can optimise for change and turn blind spots into opportunity.
h1.Title We believe design is not only how it looks, but how it works. That’s why we build what we design.<br>
h1.Title Because the experience demands it.

Footers…

We help companies discover, design and build great customer experiences.

# Headers
## Home
Are you worth the time?
Are you being seen in the crowd?
Do people listen to your story?
Are you telling your story in way people care for?
Do people listen to your story?
Your online brand is the sum of all it’s details. 
Do your customers/users think you're worth the time?
Nobody cares about your product. Fundamentally, what users care about is themselves.
Are you giving yourself the best possible chance?

Useful. Augmentative. Clear. Delightful.
truth. effort. courage.
we move quickly from talkign to doing
we make the complex simple.
brands, products, campaigns and interactive experiences for every screen. (instrument/work)

I plan, design & build for the web.

This helps me design for outcomes, 


p We create websites and apps that make it really easy for your customers to do business with you. #[a(href="/about") Learn more.]


h2.Display Your customers are now digital natives.
:markdown
	We create websites and apps that make it really easy for your customers to do business with you.

	We plan, design and build user experiences that are fast, simple, useable and useful. We work closely with our clients to create for customers needs first. We iterate based on feedback to continually create better user experiences.

	We use interaction design, graphic design, copywriting, and code to execute the stack of details required.

	Patternworks is owned and lead by Callum Flack, working from Cairns, Australia, working alongside a band of cohorts Australia-wide. [Learn more](/about)






# about

My work is about taking things that are complex and making them understandable. Whether through graphics, copywriting, interaction or technology—the work is done in whatever mode will resonate greatest. This accounts for my experience in many forms of design: from print to UX to front-end developer.

Patternworks is the solo, independent design consultancy of Callum Flack.

In 2010, after a decade as a graphic designer, I learnt to code because UI is software, so designers should know how to program.

Design is an aggregation of choices. By learning to implement these choices in the digital medium, I discover how things work and I retain design precision.

We build digital brands, experiences and campaigns for every screen.

We create websites and apps that make it really easy for people to interact with you
We create websites and apps that fast, easy and delightful for people to use.
Creating digital brands that resonate.

We help companies large and small discover how the web can work for them by building fast, delightful and robust websites that turn customers into fans.



## How we work

Your audience are now digital natives.
Because UI is software, so designers should know how to program.

We are an iterative and multi-disciplinary practice. A comprehensive knowledge of mobile application design allows us to move fluidly from high-level business problems to tactile execution. We place a strong emphasis on seeing and using the ideas we present, and believe that sharing progress early and often is the basis for successful and innovative products.

Helping innovative companies ship and see results.

Simple, clearer, faster. We create better customer experiences by defining goals first. Then we build, share, test, watch, listen, prod, discuss and iterate to get results. We're multi-disciplinary mob: design is our core, yet we regard our engineering ability as an extension of design—we build everything ourselves with a comprehensive knowledge of web technologies. And we create for users first. Because they're the ones who make your business.

Make it simpler, clearer, faster.



# phn

Our response was not to build a native app—which would have been expensive to maintain and difficult to find—but rather a responsive web app that worked on any device.

A patient can now fill in a survey in 90 seconds without trying.

//- This will prove valuable in remote regions where 3G connection is not always guaranteed.






//- nav.Nav.Nav--main.Nav--hidden(role="navigation")
//-     ul
//-         li #[a(class="#{ current.path[0] == 'index' ? 'is-active' : '' }" href="/") #[span Home]]
//-         li #[a(class="#{ current.path[0] == 'work' ? 'is-active' : '' }" href="/work") #[span Work]]
//-         //- li #[a(class="#{ current.path[0] == 'blog' ? 'is-active' : '' }" href="/blog") #[span Blog]]
//-         li #[a(class="#{ current.path[0] == 'about' ? 'is-active' : '' }" href="/about") #[span About]]

//- footer.Footer(role="contentinfo")

//- Patternworks is a digital creative workshop. We plan, design and build engaging, human user experiences. Get in touch by [email](mailto:hi@patternworks.com.au?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name), by calling [+61(0) 408 767 540](tel:+610-408-767-540), or keep up to date with us on <a href="https://twitter.com/patternworks_">twitter</a>.


//- Patternworks is lead by Callum Flack, working with a band of cohorts, from Cairns, Australia. Since starting in 2000, Callum has worked in design studios ([Saatchi & Saatchi Design, London](http://www.saatchi-design.co.uk/sagatiba)), agencies ([GPYR, Brisbane](http://www.gpyr.com.au/) and [Ward 6, Sydney](http://www.ward6.com.au/)) and startup teams ([Box+Dice, Melbourne](http://www.boxdice.com.au/)). Until our website is ready, please check out our recent work:
//-
//- * [Ward 6 website](http://www.ward6.com.au/)
//- * [Primary Healthcare NQ app](https://qolsurvey.primaryhealth.com.au/)
//- * [Therese Plath Ray White website](http://www.thereseplath.com.au/)
//- * [Remote Area Aboriginal Child Care website](http://raatsicc.org.au/)
//- * [Bellflower Chinese Medicine website](http://www.bellflowerchinesemedicine.com.au/)
//-
//- Get in touch by [email](mailto:hi@patternworks.com.au?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name), [twitter](https://twitter.com/patternworks_) or by calling [+61(0) 408 767 540](tel:+610-408-767-540).

Patternworks plans, designs and builds websites that are fast, simple and useful.

We make it really easy for your customers to do business with you, online.

We work closely with our clients to understand who their customers are, and what they need.

We take big picture business problems and turn them into simple, understandable and actionable user experiences.

We use interaction design, graphic design, copywriting, and code to execute the stack of details required.

We think great user experiences make better customer services. And that great service is worth far more than branding.




//- You can also follow our updates on <a href="https://twitter.com/patternworks_">twitter</a>.
//- _Technology matters._ If you don’t understand the materials you are working with, you can’t build the right thing, even if you go about it in the right way. You can’t build what you can’t think of in the first place.
//-
//- _Design matters._ Design is the interface between technology and people. Digital productivity is not a technology problem, it's a human problem. People come first, then technology.

//- * [Gravitas Energy website](http://www.gravitasenergy.com.au/)
//- <a class="Arrow-right" href="/about">Learn more</a>

//- section.Block--space.Block--black
//- 	.o-container.o-container--insetText
//- 		h1 blog
//- 		.FlexEmbed.u-marginT6.u-marginB6
//- 			.FlexEmbed-ratio.FlexEmbed-ratio--versions
//- 			.FlexEmbed-content(style="background-image: url('/images/hero-oceanblueliving.png')")
//- 		:markdown
//- 			Patternworks offers a wholistic approach for building digital businesses that is measurably successful and always looks good. We work closely together with our clients in order to understand who your customers are, who they can be, and what their needs are. We plan for agreed-upon outcomes and we execute the stack of details required to make the experience real. We believe great user experiences will win you more fans than advertising. <a class="Arrow-right" href="/about">Read more</a>




//- h2 Creating for the territory, not the map.
//- figure.contained
	img(src="/img/16x9-03.jpg", alt="Callum Flack", height='')

//- figure.lg
	img(src='/img/16x9-03.jpg')
	figcaption Yeah, this is me.

p Patternworks is the independent digital creative workshop of Callum Flack, located in Cairns, Australia. I plan, design & build for the web.

//- figure
	//- img(src='/img/16x9-03A.jpg')
	//- figcaption Yeah, this is me.

//- p My work is about taking things that are complex and making them simple, understandable and actionable. Whether through graphics, typography, copywriting, interaction or technology—the work is done in whatever mode will resonate.

p I have fifteen years experience in creative problem-solving: taking complex concepts and making them into simple, understandable and actionable stories. Whether through graphics, typography, copywriting, interaction or technology—the work is done in whatever mode will resonate.

p I live with my wife and young family in the tropics of Cairns, far northern Australia, where I dehumidify my record collection weekly.

//- figure
//-     img(src='/img/16x9-03A.jpg')
//-     figcaption Yeah, this is me.

h3 Experienced
p
	| Since starting in 2000, I've worked in design studios
	| (#[a(href="http://www.saatchi-design.co.uk/") Saatchi & Saatchi Design, London]),
	| inhouse startup teams (#[a(href="http://www.boxdice.com.au/") Box+Dice, Melbourne] and
	| #[a(href="http://www.welend.hk/") WeLend, Hong Kong]),
	| and advertising (#[a(href="hhttp://www.gpyr.com.au/") GPYR, Brisbane] and #[a(href="http://www.ward6.com.au/") Ward 6, Sydney]).
	| I've also co-run a record label (#[a(href="http://www.thee-roundtable.com/") Roundtable Records]).
	| Lots of people have said nice things about working with me. You can read a few of them on #[a(href="https://au.linkedin.com/in/callumflack") LinkedIn].

h3 If I was already a designer, why also learn to code?
p By being able to build what I can conceptualise, I deeply understand how brand, usability and technical domains interplay. This helps me to think in systems instead of pages, to turn blind spots into opportunity and to stack up the small details that make big differences to digital products and services.

//- h3 What are the steps involved in a project?
//- h3 A process is necessarily a collaboration
//- h3 A process of collaboration
h3 My process is collaboration
p Work engagement begins by auditing current communications, roadmapping your digital brand's future and defining a strategy together. The resulting mix of market, technology, and business requirements are weighed against time and budget to obtain an agreed scope of work.

p The process is divided into logical steps and is done iteratively and—most importantly—in collaboration.
//- p Here's a quick list of things I can do:

//- .Article-checklist
//-     .Grid.large-Grid--1of3.Grid--gutters
//-         .Grid-cell
//-             p Strategy
//-             ul
//-                 li naming
//-                 li brand positioning
//-                 li brand architecture
//-                 //- li brand guardianship
//-                 li competitor and communications audits
//-                 li tone of voice
//-                 li interviews and customer journeys
//-
//-         .Grid-cell
//-             p Design
//-             ul
//-                 li brand identity
//-                 li brand styleguides
//-                 li responsive websites
//-                 li iOS & Android apps
//-                 li web apps
//-                 li app prototyping
//-                 li MVPs
//-                 li ecommerce
//-                 li literature
//-                 li packaging
//-
//-         .Grid-cell
//-             p Development
//-             ul
//-                 li HTML5 & CSS3
//-                 li javascript & jquery
//-                 li enough Ruby on Rails & PHP
//-                 li I love HarpJS
//-                 li Gulp & Grunt
//-                 li CMS (Statamic, Wordpress, Craft, Harp)
//-                 li ecommerce (Shopify)
//-                 li Mailchimp


//- h3 How can I help product teams to breakthrough?
//- p With my broad skillset, I can help at almost any stage of the digital project lifecycle. Clients commonly come to me to improve existing brands or products—whether auditing or redesigning brand identities, interfaces, and user journeys, or adding, updating and fixing features in development. Or to help create new, best-in-class sites and apps from scratch.





//- p Patternworks is the solo digital product workshop of Callum Flack, in Cairns, Australia.
//- p Patternworks is the digital communications workshop of Callum Flack, in Cairns, Australia.
//- p I plan, design and build identities and websites that resonate by a focussing on outcomes and executing with detail. #[a(href="/about") Read about my approach]. 
//- p.Text
	!= partial("contact-points")
//- p Patternworks creates digital identities and communications that resonate by focussing on outcomes and executing with detail. #[a(href="/about") Read about my approach].

//- p 
	//- span.Emphasis When it's so easy to be online, how can you stand out in a crowd?
	span.Emphasis How can you stand out in a crowd?
//- p Patternworks creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
//- p.Em Brands, products, campaigns and interactive experiences for every screen. 
//- p.Em The difference is the sum of small details.
//- p.Em Delightful, considered experiences for every screen.
//- p.Em creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
//- p
	//- | Patternworks is the solo workshop of Callum Flack, based in Cairns, Australia. 
	| Read about my #[a(href="/about") approach], or get in touch via: 
	a(href="mailto:callumflack@gmail.com") email
	span &nbsp;• 
	a(href="https://twitter.com/callumflack") twitter
	span &nbsp;• 
	a(href="tel:+610-408-767-540") +61(0)408 767 540

//- p.Em Delightful. Clear. Useful. Augmentative. #[span Considered experiences for every screen.]
//- p.Tint
//-     | To know more, read about my #[a(href="/about") approach], get in touch by 
//-     a(href="mailto:callumflack@gmail.com") email
//-     span &nbsp;or 
//-     a(href="https://twitter.com/callumflack") twitter
//-     //- | &nbsp;. Or just keep scrolling #[span.Icon ↓]
//-     | &nbsp;. Or scroll.

//- p.Amp Delightful. Clear. Useful. Augmentative. #[span Considered experiences for every screen.]
//- p.Amp Delightful, clear and considered identities for every screen. 

//- h1.Display Plan, design & build delightful, clear and considered experiences for every screen. 
//- h2.Display Scroll to view recent work. Learn #[a(href="/about") about us] or #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") get in touch#[span.Nav-pointer →]]

//- nav.Nav.Nav--main(role="navigation")
//-     ul
//-         li #[a(href="#") #[span Recently#[span.Nav-pointer ↓]]]
//-         //- li #[a(class="#{ current.path[0] == 'work' ? 'is-active' : '' }" href="/work") #[span Work]]
//-         li #[a(class="#{ current.path[0] == 'approach' ? 'is-active' : '' }" href="/about") #[span About]]
//-         li #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") Contact#[span.Nav-pointer →]]

//- .Display
//-     a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") Get in touch#[span.Nav-pointer →]

We help you make products your customers will use. Learn more.
- https://knowyourcompany.com/story

//- a(href="#start") Starting with Why, ending with rememberance.



## approach
eliminate the unnecessary so that the necessary may speak
Useful, engaging, augmentative

Patternworks is the solo digital design consultancy of Callum Flack. 

With 15 years in the business, his work is about taking things that are complex and making them understandable. 
He's worked in advertising and design agencies, startups, publishing houses, and for his own record label, in Brisbane, London, Melbourne and Sydney.

p I'm also an amateur musicologist. I live with my family in the tropics of Cairns, where I dehumidify my record collection weekly.

Because design is more than how it looks, it's how it works. 

I understand deeply how brand, usability and technical domains of digital communications interplay.

//- p Eliminate the unnecessary so that the necessary may speak.
//- p.Em Fifteen years of visual communication knowhow.
//- p.Em Fifteen years of creating customers through problem-solving.
//- p.Em Fifteen years of creative problem-solving to get the story out.
//- p.Em Fifteen years of creative problem-solving to tell stories that customers care for.
//- p.Em Fifteen years of making the complex simple.
//- p.Tint Patternworks is the independent digital communications workshop of Callum Flack, located in Cairns, Australia.
//- span.Em For the territory, not the map.


## why code?
This helps me design for purpose and systems instead of impressions and style,

p Like most learning efforts, it began with disappointment. The standard of the digital projects I was involved at the time were subpar. So I decided—without any prior programming experience—to learn how to build interfaces myself. The rewards have far outweighed the pain, and introduced me to new ways of thinking about the world.


## work
Design has to work. Art does not.
eliminate the unnecessary so that the necessary may speak
//- p Telling brand stories online.


## article footer

p Patternworks is the digital creative workshop of Callum Flack, in Cairns, Australia. He takes complex concepts and makes them into understandable, actionable stories. #[a(href="/about") Learn more] or send an #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") email].



## footers
//- em Patternworks is a digital identity & communications workshop.#[br]
//- em Patternworks. Digital identities & communications that resonate.#[br]
//- em Patternworks. Digital identities that resonate.#[br]
//- em Patternworks. Considered experiences for every screen.#[br]
//- b Patternworks. Considered experiences for every screen.#[br]


p.u-textSm.u-textGrey.u-childLinkParagraph Flack Design + Development is a studio for screen (and print) in Sydney, Australia. Services include IA, UX, UI, web design, app design, interaction design, responsive device design, identity design, creative direction and digital strategy. Call +61(0) 408 767 540 or&nbsp;

p.u-textSm.u-textGrey.u-childLinkParagraph Flack Design + Development is a studio that makes useful, engaging interfaces for screens of all sizes and kinds. We work across all media (including print) as the strategy demands. Services include brand strategy, digital strategy, IA, UX, UI, web design, app design, interaction design, responsive device design, identity design and creative direction. We're native to Sydney, Australia. Call +61(0) 408 767 540 or&nbsp;
	a(href="/about") find out more about us.

p.u-marginTX13
	a.u-textSm.Button.Button--inlineList.Button--transSweep(href="#") +61(0) 408 767 540
	a.Button.Button--inlineList.Button--transSweep(href="#work") See the work
	a.Button.Button--inlineList.Button--transSweep(href="#journal") Read the journal
	a.Button.Button--inlineList.Button--transSweep(href="#contact") Get in touch
	a.Button.Button--inlineList.Button--transSweep(href="#contact") Twitter
	span.Meta.Meta--inlineList Sydney, Australia

	a.Button.Button--inlineList.Button--transSweep(href="/about") About
	a.Button.Button--inlineList.Button--transSweep(href="#work") Work
	a.Button.Button--inlineList.Button--transSweep(href="#journal") Blog
	a.Button.Button--inlineList.Button--transSweep(href="#contact") Contact
	a.Button.Button--inlineList.Button--transSweep(href="#contact") Follow
	span.Meta.Meta--inlineList Sydney, Australia



section.Block--space.Fold(role='more-information')
	a.Fold-toggle.fullWidth(href='#', data-toggle='1')
		p What exactly can you do? #[span.Pointer.Pointer--rightAlign ↑]

	.Fold-target(data-content='1')
		p With my broad skillset, I can help at almost any stage of the digital project lifecycle. Clients commonly come to me to improve existing brands or products—whether auditing or redesigning brand identities, interfaces, and user journeys, or adding, updating and fixing features in development—or to to help create new, best-in-class sites and apps from scratch.

	a.Fold-toggle.fullWidth(href='#', data-toggle='2')
		p Do you make responsive mobile websites? #[span.Pointer.Pointer--rightAlign ↑]
		//- p Do you make responsive sites for the mobile web? #[span.Pointer.Pointer--rightAlign ↑]

	.Fold-target(data-content='2')
		p Almost everyone now has a supercomputer in their pocket (that is, a  #[em smartphone]) and we use them, on average, once every 5 minutes. Your digital comms will depend on mobile, now or very soon. So every web project I produce is responsive by default, which means it will adapt to the screen size of any internet device. Flack D+D specialises in responsive, performant mobile websites.
		
	a.Fold-toggle.fullWidth(href='#', data-toggle='3')
		p What are the steps involved in a project? #[span.Pointer.Pointer--rightAlign ↑]

	.Fold-target(data-content='3')
		p Work engagement begins by auditing current communications and with a roadmapping session to obtain an agreed scope of work. The process is divided into logical steps and is done iteratively and—importantly—in partnership with you. 

	a.Fold-toggle.fullWidth(href='#', data-toggle='4')
		p How much does a typical project cost? #[span.Pointer.Pointer--rightAlign ↑]

	.Fold-target(data-content='4')
		p The web is wide and varied in scope; there's no one size fits all. So it depends on the strategy we define together and the resulting mix of market, technology, and business requirements. The work is always tailored to your budget. Get in touch to find out more.
			


.FlexGrid.Fold-item--smGrey.u-marginB0
	.FlexGrid-item
		p Strategy
		ul
			li naming
			li brand positioning
			li brand architecture
			li brand guardianship
			li competitor and communications audits
			li tone of voice
			li interviews and customer journeys

	.FlexGrid-item
		p Design
		ul
			li brand identity
			li brand styleguides
			li responsive websites
			li iOS & Android apps
			li web apps
			li app prototyping
			li MVPs
			li ecommerce
			li literature
			li packaging

	.FlexGrid-item.is-double
		p Development
		ul
			li HTML5 & CSS3
			li javascript & jquery
			li enough Ruby on Rails & PHP
			li I love HarpJS
			li Gulp & Grunt
			li Phonegap
			li Statamic
			li Wordpress
			li Craft
			li Shopify
			li Mailchimp
