img(
    src='#{cloudinaryImage}c_fill,g_center,f_auto,w_300#{imageName} 300w', 
    srcset='#{cloudinaryImage}c_fill,g_center,f_auto,w_2100#{imageName} 2100w, #{cloudinaryImage}c_fill,g_center,f_auto,w_1200#{imageName} 1200w, #{cloudinaryImage}c_fill,g_center,f_auto,w_600#{imageName} 600w', 
    alt='#{alt}')